{% extends 'pages/view-snippets.html' %}
{% block content-user %}

    {% for snippet in snippets_user %}
        <tr>
            <td scope="row">{{ snippet.id }}</td>
            <td>
                <a href="{% url 'snippet-detail' snippet.id %}">{{ snippet.name }}</a>
                <a href="{% url 'snippet-delete' snippet.id %}"><i style="color: red"
                                                                   class="fa-sharp fa-solid fa-trash"></i></a>
            </td>
            <td>{{ snippet.creation_date }}</td>
            <td>{{ snippet.user }}</td>

        </tr>
    {% endfor %}

{% endblock %}

